body{

}

.title{
    text-align: center;
    color: rgb(226, 226, 226);
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    margin-top: 5%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
}
.grid-item {
  background-color: rgb(226, 226, 226);
  padding: 30px;
  font-size: 30px;
  text-align: center;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  box-shadow: 9px 12px 10px rgba(0, 0, 0, 0.848);
  transition: all 250ms ease-out;
}

.grid-item:hover{
  box-shadow: 0px 0px 0px;
  margin-top: 2%;
  transition: all 250ms;
}

.logovtk{
  width: auto;
  height: 200px;
  margin-left: 0;
  margin-top: 5%;
}
.logobjm{
  width: auto;
  height: 150px;
  margin-left: 0;
  margin-top: 7%;
  
}
.logoquiz{
  width: auto;
  height: 80px;
  margin-left: 0;
  margin-top: 25%;
  filter: invert(70%);
}