
body{
 background-color: #313131;
}
nav.main{
    display: block;
}
.header {
    margin: 0;
    padding: 0;
    background-color: #232323;
    overflow: hidden;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.71);
}
  
.header a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 20px;
    font-family: arial;
    transition: all 250ms ease-out;
    font-family: 'Raleway', sans-serif;
}

   
.header a:hover {
    
    color: rgb(21, 91, 255);
    transition: all 250ms;
}
  
.header a.active {
    
    color: rgb(31, 72, 255);
    
  text-shadow:
      0 0 7px #0000f0,
      0 0 10px #0000f0,
      0 0 21px #0000f0,
      0 0 42px rgb(6, 57, 225),
      0 0 82px rgba(0, 0, 0, 0),
      0 0 92px rgba(0, 0, 0, 0),
      0 0 102px rgba(0, 0, 0, 0),
      0 0 151px rgba(0, 0, 0, 0);
}

.welcometext{
    color: rgb(226, 226, 226);
    text-align: center;
    margin-top: 7%;
    font-family: 'Raleway', sans-serif;
}

.moreme{
    position: absolute;
    text-decoration: none;
    margin-left: 45.5%;
    margin-top: 1%;
    transform: translate(10%, -30%);
    color: rgb(226, 226, 226);;
    font-family: 'Raleway', sans-serif;
    border: 2px solid rgb(226, 226, 226);;
    padding: 4px 10px;
    transition: all 250ms;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.606);
}

.moreme:hover{
    color: #0000ff;
    background-color: rgb(219, 219, 219);;
    transition: all 250ms ease-out;
    box-shadow: 0px 0px 0px;
    margin-top: 1.1%;
}
.pfp1{
    height: 200px;
    width: auto;
    border-radius: 100%;
    margin-left: 45.1%;
    transition: all 250ms ease-out;
}
.pfp1:hover{
    height: 300px;
    width: auto;
    border-radius: 100%;
    margin-left: 43.1%;
    transition: all 250ms ;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.377);
}

.tekst{
    color: rgb(226, 226, 226);
    max-width: 250px;
    margin-left: 45%;
    font-family: 'Raleway', sans-serif;
}
.logo{
    height: 60px;
    width: auto;
    margin-left: 0.5%;
}

body{
    background: #141414;
    overflow:hidden;
  }
  canvas{
      position:absolute;
      top:0;
      left:0;
  }

  